<link rel="stylesheet" type="text/css" href="/style.css" />

<div class="container">

    <div class="inputParent">
       
        <h1><a class="button2" href="<%= url%>"> <%= name %> </a></h1>

        <h3>Subject Area(s): <%= subject.join(', ').toUpperCase() %> </h3> 

        <h3>Keywords: <%= keywords.join(', ') %> </h3>

        <a target="_blank" class="button2 center" href="<%= url%>" > Go to Site </a>

    </div>

</div>